@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #1b1b1d;
  --color-bg-elevated: #26262a;
  --color-card-bg: #26262a;
  --color-accent: #f458d2;
  --color-accent-soft: #dd99dd;
  --color-text-primary: #ffffff;
  --color-text-muted: #a0a0a5;
  --color-border-subtle: #3f3f45;
  --color-composer-outer: #333333;
  --color-composer-send: #ff8438;
  --color-composer-icon: #707070;
  --color-sidebar-bg: #2c2c2e;
  --color-sidebar-item-hover: #38383a;
  --color-sidebar-sender: #ffc107;
  --color-sidebar-unread: #ef4444;
  --color-Icon-disable: #ffffff1a;
}

[data-theme="light"] {
  --color-bg: #f3f4f6;
  --color-bg-elevated: #ffffff;
  --color-accent: #6366f1;
  --color-accent-soft: #c7d2fe;
  --color-text-primary: #111827;
  --color-text-muted: #6b7280;
  --color-border-subtle: #d1d5db;
  --color-composer-outer: #e5e7eb;
  --color-composer-send: #ea580c;
  --color-composer-icon: #6b7280;
  --color-sidebar-bg: #f3f4f6;
  --color-sidebar-item-hover: #e5e7eb;
  --color-sidebar-sender: #ea580c;
  --color-sidebar-unread: #ef4444;
  --color-Icon-disable: #0000001a;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  @apply bg-bg text-text-primary antialiased;
}

#root {
  height: 100%;
}

